/*reset*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*reset*/

/*font*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Croissant One', cursive;
}

h1 {
    color: #e53170;
}

body {
    font-family: 'Fredoka', sans-serif;
}

/*font*/

/*header*/
.intestazione {
    text-align: center;
    padding-top: 20px;
    max-width: 800px;
    margin: 0px auto;
}

.intestazione :nth-last-child(1) {
    padding-top: 20px;
    font-size: 12px;
}

/*header*/